<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
  
   
</head>
 <style>
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

h1 {
    color: #da0a0a;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.mb-3 {
    margin-bottom: 20px;
}

.form-label {
    color: #6c757d;
}

.form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.form-select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
}

.btn-primary {
    display: block;
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text-danger {
    color: #dc3545;
}
</style>


<body>
    <form class="container" action="/admin/addnew" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <h1 class="text-center">Thêm sản phẩm</h1>
    
        <div class="mb-3">
            <label for="name" class="form-label">Tên sản phẩm</label>
            <input class="form-control" type="text" id="name" placeholder="Tên Sản Phẩm" name="name">
            <span id="nameError" class="form-text text-danger"></span>
        </div>
    
        <div class="mb-3">
            <label for="price" class="form-label">Giá sản phẩm</label>
            <input class="form-control" type="number" id="price" min="0" placeholder="Giá Sản Phẩm" name="price">
            <span id="priceError" class="form-text text-danger"></span>
        </div>
    
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <input class="form-control" type="text" id="description" placeholder="Mô tả" name="description">
            <span id="descriptionError" class="form-text text-danger"></span>
        </div>
    
        <div class="mb-3">
            <label for="category" class="form-label">Danh mục sản phẩm</label>
             <select name="category" class="form-select" id="category" >
                <option selected >danh mục</option>
                <% dataCate.forEach(element => { %>
                    <option value="<%= element.id%>"><%= element.name%></option>
                <%}); %>
            </select>
            <span id="categoryError" class="form-text text-danger"></span>
        </div> 
    
        <div class="mb-3">
            <label for="image" class="form-label">Ảnh</label>
            <input class="form-control" type="file" id="image" placeholder="Chọn ảnh sản phẩm" name="image">
            <span id="imageError" class="form-text text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    

<script>
    function validateForm() {
      var nameInput = document.getElementById("name");
      var priceInput = document.getElementById("price");
      var descriptionInput = document.getElementById("description");
    //   var categoryselect = document.getElementById("category");
      var imageInput = document.getElementById("image");
    
      var nameError = document.getElementById("nameError");
      var priceError = document.getElementById("priceError");
      var descriptionError = document.getElementById("descriptionError");
    //   var categoryError = document.getElementById("categoryError");
      var imageError = document.getElementById("imageError");
    
      var isValid = true;
    
      if (nameInput.value.trim() === "") {
          nameError.innerHTML = "Vui lòng điền vào tên sản phẩm.";
          isValid = false;
      } else {
          nameError.innerHTML = "";
      }
    
      if (priceInput.value.trim() === "") {
          priceError.innerHTML = "Vui lòng điền vào giá sản phẩm.";
          isValid = false;
      } else {
          priceError.innerHTML = "";
      }
    
      if (descriptionInput.value === "") {
          descriptionError.innerHTML = "Vui lòng điền vào mô tả.";
          isValid = false;
      } else {
          descriptionError.innerHTML = "";
      }

    //   if (categoryselect.value === "") {
    //       categoryError.innerHTML = "Vui lòng chọn danh mục.";
    //       isValid = false;
    //   } else {
    //       categoryError.innerHTML = "";
    //   }

      if (imageInput.value === "") {
        imageError.innerHTML = "Vui lòng chọn hình ảnh.";
        isValid = false;
    } else {
        imageError.innerHTML = "";
    }
    
      return isValid;
    }
</script>
</body>
</html>